body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: flex-end;
}

div.change {
    background: red;
}

div {
    user-select: none;
    cursor: pointer;
    flex: 1;
    background: green;
    border: 1px solid;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}